Repository TorXakis/TorXakis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tretmans, @pjljvandelaar, @CarstenRuetz, @ikbendedjurre, @dnadales

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

sys/behave          @tretmans
sys/behavedefs      @tretmans
sys/behaveenv       @tretmans
sys/bexpr           @tretmans       @pjljvandelaar
sys/cnect           @tretmans
sys/core            @tretmans
sys/coreenv         @tretmans
sys/defs            @tretmans       @pjljvandelaar
sys/lexregexxsd     @pjljvandelaar
sys/lpe             @CarstenRuetz   @pjljvandelaar
sys/lpeops          @ikbendedjurre  @pjljvandelaar
sys/lpeq            @ikbendedjurre  @pjljvandelaar
sys/lpeuitls        @ikbendedjurre  @pjljvandelaar
sys/server          @tretmans
sys/serverenv       @tretmans
sys/solve           @pjljvandelaar
sys/testsel         @tretmans
sys/txs-compiler    @dnadales       @pjljvandelaar
sys/ui              @tretmans
sys/valexpr         @pjljvandelaar
sys/value           @pjljvandelaar

made linux/macos default for stack
  stack.yaml
  stack_linux.yaml
  stack_linux.yaml.lock
  stack_windows.yaml
Owners: none

Support for new cvc4 1.8 output \u{hexadecimal}
  sys/txs-smt/src/TorXakis/SMTStringAlex.x
  sys/txs-smt/src/TorXakis/SMTStringHappy.y
Owners: none

hlint 3.1.6 suggestions made
  sys/txs-bexpr/src/TorXakis/Relabel.hs
  sys/txs-compiler/src/TorXakis/Compiler.hs
  sys/txs-regex/test/TorXakis/RegexSpec.hs
  sys/txs-solve-random/src/TorXakis/RandomSolver.hs
  sys/txs-sort-gen/src/TorXakis/TestSortData.hs
Owners: @dnadales, @pjljvandelaar

dded Dropbox example
  examps/Dropbox/.torxakis.yaml
  examps/Dropbox/Readme.txt
  examps/Dropbox/dropbox-ceciis19.txs
  examps/Dropbox/dropboxtest/sut0.sh
  examps/Dropbox/dropboxtest/sut1.sh
  examps/Dropbox/dropboxtest/sut2.sh
  examps/Dropbox/dropboxtest/testdir/testfile
  examps/Dropbox/dropboxtest/testfile
Owners: none

dded license
  examps/Dropbox/.torxakis.yaml
  examps/Dropbox/Readme.txt
  examps/Dropbox/dropbox-ceciis19.txs
  examps/Dropbox/dropboxtest/sut0.sh
  examps/Dropbox/dropboxtest/sut1.sh
  examps/Dropbox/dropboxtest/sut2.sh
Owners: none

dropbox example
  examps/Dropbox/Readme.txt
  examps/Dropbox/dropboxtest/sut0.sh
  examps/Dropbox/dropboxtest/sut1.sh
  examps/Dropbox/dropboxtest/sut2.sh
  examps/Dropbox/dropboxtest/testdir/testfile
  examps/Dropbox/dropboxtest/testfile
Owners: none

dropbox example
  examps/Dropbox/README.txt
Owners: none

dropbox bugfix
  examps/Dropbox/README.txt
  examps/Dropbox/dropboxtest/sut0.sh
  examps/Dropbox/dropboxtest/sut1.sh
  examps/Dropbox/dropboxtest/sut2.sh
Owners: none

Dropbox (#964)
  examps/Dropbox/.torxakis.yaml
  examps/Dropbox/README.txt
  examps/Dropbox/dropbox-ceciis19.txs
  examps/Dropbox/dropboxtest/sut0.sh
  examps/Dropbox/dropboxtest/sut1.sh
  examps/Dropbox/dropboxtest/sut2.sh
  examps/Dropbox/dropboxtest/testdir/testfile
Owners: none

removed generated file (stack dot)
  file
Owners: none

Explicitly test special characters (see issue #966)
  sys/txs-regex/test/TorXakis/RegexSpec.hs
Owners: none

Add full evalation of constants during expand
  sys/behave/behave.cabal
  sys/behave/src/Expand.hs
Owners: @tretmans

Fix syntax of plus and minus
  examps/Adder/README.txt
Owners: none

Fix syntax of plus and minus (#970)
  examps/Adder/README.txt
Owners: none

moving towards 9.0 (no license issue anymore due to integer-gmp) - at 8.8.4
  stack.yaml
  stack.yaml.lock
  sys/txs-basics-gen/src/TorXakis/Cover.hs
  sys/txs-defs/src/TorXakis/ContextTorXakis.hs
  sys/txs-regex/src/TorXakis/Regex/Posix.hs
  sys/txs-regex/src/TorXakis/Regex/Xsd.hs
  sys/txs-regex/test/TorXakis/RegexSpec.hs
  sys/txs-serverstate/src/TorXakis/ServerState.hs
  sys/txs-smt/src/TorXakis/SmtM.hs
  sys/txs-solve-random/src/TorXakis/RandomSolver.hs
  sys/txs-solve/src/TorXakis/ProblemSolver.hs
  sys/txs-sort-gen/package.yaml
  sys/txs-sort-gen/src/TorXakis/GenCollection.hs
  sys/txs-sort-gen/test/TorXakis/TestSortContextSpec.hs
  sys/txs-sort/package.yaml
  sys/txs-sort/src/TorXakis/SortContext.hs
  sys/txs-sort/test/TorXakis/SortContextSpec.hs
  sys/txs-symbolic/src/TorXakis/SymbolicSolver.hs
  sys/txs-value/src/TorXakis/Value/ConversionText.hs
  sys/txs-var-gen/src/TorXakis/VarsDeclGen.hs
  sys/txs-var/src/TorXakis/Var/VarDef.hs
Owners: none

Upgrade to ghc 9.0.1 + some improvements for haddock
  stack.yaml
  stack.yaml.lock
  stack_linux.yaml
  sys/txs-core/src/TorXakis/BuildInfo.hs
  sys/txs-core/src/TorXakis/VersionInfo.hs
  sys/txs-smt/src/TorXakis/SmtLanguage.hs
Owners: none

Improved documentation
  sys/txs-valexpr/src/TorXakis/ValExpr/ValExprBasis.hs
Owners: none

Add full evalation of constants during expand (#968)
  sys/behave/behave.cabal
  sys/behave/src/Expand.hs
Owners: @tretmans

Cite this repository
  CITATION.cff
Owners: none

Removes integersimple ghc variant
  stack.yaml
  stack_linux.yaml
  test/environment/stack.yaml
  test/sqatt/stack.yaml
  test/sqatt/stack_linux.yaml
Owners: none

Updates version of hspec used
  stack.yaml
  stack.yaml.lock
  stack_linux.yaml
  test/environment/stack.yaml
Owners: none

Moving to latest version of stack LTS, updating code in accordance
  stack.yaml
  stack.yaml.lock
  sys/txs-prettyprint/src/TorXakis/PrettyPrint.hs
  sys/txs-regex/src/TorXakis/Regex/Posix.hs
  sys/txs-regex/src/TorXakis/Regex/RegexFromXsdAlex.x
  sys/txs-regex/src/TorXakis/Regex/Xsd.hs
  sys/txs-symbolic/src/TorXakis/SymbolicSolver.hs
Owners: none

Updated stack, same version on linux as windows, Bug fixed - test adopted
  stack.yaml
  stack_linux.yaml
  sys/txs-regex/test/TorXakis/RegexSpec.hs
Owners: none

Updated version
  stack.yaml.lock
  sys/txs-smt/src/TorXakis/SmtM.hs
  sys/txs-smt/test/TorXakis/SortContextSpec.hs
  sys/txs-smt/test/TorXakis/ValExprContextSpec.hs
Owners: none
