Repository TorXakis/TorXakis, pull requests merged in 2018-06, with the labels that each got.

#726 added functionality to show functions
  sys/core/src/TxsCore.hs
  sys/server/src/TxsServer.hs
Labels: component-core, component-server, new-feature, user-experience-improvement

#727 robustness improvement
  test/sqatt/src/Sqatt.hs
Labels: quality-assurance, robustness-improvement

#730 Warnings/lpe 2
  sys/lpe/lpe.cabal
  sys/lpe/test/TestDefinitions.hs
  sys/lpe/test/TestGNF.hs
  sys/lpe/test/TestLPE.hs
  sys/lpe/test/TestLPEHide.hs
  sys/lpe/test/TestLPEPar.hs
  sys/lpe/test/TestPreGNF.hs
  sys/lpe/test/TestPreGNFEnable.hs
Labels: component-lpe, quality-assurance

#747 Issue/report duplicate ids
  README.md
  sys/defs/src/TxsShow.hs
  sys/txs-compiler/package.yaml
  sys/txs-compiler/src/TorXakis/Compiler.hs
  sys/txs-compiler/src/TorXakis/Compiler/Data/ProcDecl.hs
  sys/txs-compiler/src/TorXakis/Compiler/Error.hs
  sys/txs-compiler/src/TorXakis/Compiler/Maps/DefinesAMap.hs
  sys/txs-compiler/src/TorXakis/Compiler/ValExpr/ExpDecl.hs
  sys/txs-compiler/src/TorXakis/Compiler/Validation.hs
  sys/txs-compiler/test/TorXakis/CompilerSpec.hs
  sys/txs-compiler/test/data/success/SimpleProcDefs.txs
Labels: component-txs-compiler

#748 Fix/txs compiler improvements
  sys/txs-compiler/package.yaml
  sys/txs-compiler/src/TorXakis/Parser/Data.hs
Labels: component-txs-compiler
